APP_ENV='local'
VS_DEBUGGING=0

# Django Setting
DJANGO_DEBUG=1
DJANGO_SECRET_KEY="hg*1+-v#*^-s!r*jg@^w+23r@"
DJANGO_ALLOWED_HOSTS="localhost 127.0.0.1 [::1]"
DJANGO_SETTINGS_MODULE="app.settings"
DJANGO_LANGUAGE_CODE="es"
DJANGO_TIME_ZONE="America/Guayaquil"
DJANGO_USE_TZ=0

## DataBase Connection local - entorno virtual venv
DB_ENGINE=django.db.backends.postgresql
DB_DATABASE=db-central-local
DB_USER=postgres
DB_PASSWORD=xxx
DB_HOST=localhost
DB_PORT=5432

# SMTP Connection gmail
EMAIL_BACKEND="django.core.mail.backends.smtp.EmailBackend"
EMAIL_HOST="smtp.gmail.com"
EMAIL_USE_TLS=1
EMAIL_USE_SSL=0
EMAIL_PORT=587
EMAIL_HOST_USER="test.developer.ec@gmail.com"
EMAIL_HOST_PASSWORD="xxx"